<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PayHub Gateway</title>
    <link rel="stylesheet" type="text/css" media="screen" href="https://cdn.tcff.co/orderhub/gateway/gateway-main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Oswald|Roboto:300,400" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.tcff.co/web-elements/tcf-text-branding.css">
</head>
<body id="body">
    <div class="content">
        <h3 class="center tcf-text-logo"></h3>
        <h1 class="purple encode center">OrderHub
            <span class="teal light-font">Gateway</span>
        </h1>
        <script src="https://checkout.stripe.com/checkout.js"></script>
        <div id="cost-overview" class="purple center">
            <h2>Cost: <span>{{ cost }}</span></h2>
        </div>
        <object id="payment-image" data="https://cdn.tcff.co/orderhub/gateway/undraw-payment.svg" type="image/svg+xml">
            <img src="yourfallback.jpg" />
        </object>
        <div class="center" id="pay-button">PAY</div>
        <p class="grey center">We won't share any of your information. <br> We promise!</p>
        <div class="modal">
            <div class="modal-content">
                <h1 class="purple encode center">OrderHub <span class="teal light-font">Secure Pay</span></h1>
                <span class="close-button">&times;</span>
                <form></form>
            </div>
        </div>
    </div>
    <footer>
        <div class="center footer-text">
            <p>OrderHub, A Creative Foundation Service <i class="fas fa-coffee"></i></p>
            <p> &copy; 2018 The Creative Foundation, LLC.</p>
        </div>
    </footer>
    <script>
        const stripe = "";
    </script>
    <script>
        var modal = document.querySelector(".modal");
        var trigger = document.querySelector("#pay-button");
        var closeButton = document.querySelector(".close-button");

        function toggleModal() {
            modal.classList.toggle("show-modal");
        }

        function windowOnClick(event) {
            if (event.target === modal) {
                toggleModal();
            }
        }

        trigger.addEventListener("click", toggleModal);
        closeButton.addEventListener("click", toggleModal);
        window.addEventListener("click", windowOnClick);
    </script>
    <script src="https://cdn.tcff.co/web-elements/tcf-text-branding.js"></script>
</body>

</html>