<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PayHub Gateway</title>
    <link rel="stylesheet" type="text/css" media="screen" href="https://d1be19b9c0no6u.cloudfront.net/gateway-main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Oswald|Roboto:300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="57x57" href="http://d1be19b9c0no6u.cloudfront.net/ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="http://d1be19b9c0no6u.cloudfront.net/ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="http://d1be19b9c0no6u.cloudfront.net/ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="http://d1be19b9c0no6u.cloudfront.net/ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="http://d1be19b9c0no6u.cloudfront.net/ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="http://d1be19b9c0no6u.cloudfront.net/ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="http://d1be19b9c0no6u.cloudfront.net/ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="http://d1be19b9c0no6u.cloudfront.net/ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="http://d1be19b9c0no6u.cloudfront.net/ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="http://d1be19b9c0no6u.cloudfront.net/ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="http://d1be19b9c0no6u.cloudfront.net/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="http://d1be19b9c0no6u.cloudfront.net/ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="http://d1be19b9c0no6u.cloudfront.net/ico/favicon-16x16.png">
    <link rel="manifest" href="http://d1be19b9c0no6u.cloudfront.net/ico/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="http://d1be19b9c0no6u.cloudfront.net/ico/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>

<body id="body">
    <div class="content">
        <h3 class="grey center" id="tcf-branding">The Creative Foundation</h3>
        <h1 class="purple encode center">PayHub
            <span class="teal light-font">Gateway</span>
        </h1>
        <script src="https://checkout.stripe.com/checkout.js"></script>
        <div id="cost-overview" class="purple center">
            <h2>Cost: <span>{{ cost }}</span></h2>
        </div>
        <object id="payment-image" data="http://d1be19b9c0no6u.cloudfront.net/undraw-payment.svg" type="image/svg+xml">
            <img src="yourfallback.jpg" />
        </object>
        <div class="center" id="pay-button">PAY</div>
        <p class="grey center">We won't share any of your information. <br> We promise!</p>
        <div class="modal">
            <div class="modal-content">
                <h1 class="purple encode center">PayHub <span class="teal light-font">Secure Pay</span></h1>
                <span class="close-button">&times;</span>
                <form></form>
            </div>
        </div>
    </div>
    <footer>
        <div class="center footer-text">
            <p>PayHub, A Creative Foundation Service <i class="fas fa-coffee"></i></p>
            <p> &copy; 2018 The Creative Foundation, LLC.</p>
        </div>
    </footer>
    <script>
        const stripe = "";
    </script>
    <script>
        var modal = document.querySelector(".modal");
        var trigger = document.querySelector("#pay-button");
        var closeButton = document.querySelector(".close-button");

        function toggleModal() {
            modal.classList.toggle("show-modal");
        }

        function windowOnClick(event) {
            if (event.target === modal) {
                toggleModal();
            }
        }

        trigger.addEventListener("click", toggleModal);
        closeButton.addEventListener("click", toggleModal);
        window.addEventListener("click", windowOnClick);
    </script>
</body>

</html>